USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 16/09/2026 2:54:00 CH ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 16/09/2026 2:54:00 CH ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[quanlysinhvien]    Script Date: 16/09/2026 2:54:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quanlysinhvien](
	[id] [uniqueidentifier] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[class_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[quanlysinhvien] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'e78a09ed-6a65-48ce-be7e-410f6de63c89', N'SV007', N'Đặng Nhật Anh', N'g@gmail.com', N'0966789012', N'C2024A')
INSERT [dbo].[quanlysinhvien] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'99f77886-b335-4d11-94bf-6240d2383114', N'SV005', N'Hoàng Thị Em', N'e@gmail.com', N'0944567890', N'C2024B')
INSERT [dbo].[quanlysinhvien] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'5b599794-18e8-4a45-a6c2-755dcaf3881a', N'SV001', N'Nguyễn Văn A', N'a@gmail.com', N'0901234567', N'C2024A')
GO
